HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store

/node_modules
flight-frontend/node_modules

# Output
flight-frontend/.output
flight-frontend/.vercel
flight-frontend/.svelte-kit
flight-frontend//build

# OS
flight-frontend/.DS_Store
flight-frontend/Thumbs.db

# Env
flight-frontend/.env
flight-frontend/.env.*
flight-frontend/!.env.example
flight-frontend/!.env.test

# Vite
flight-frontend/vite.config.js.timestamp-*
flight-frontend/vite.config.ts.timestamp-*

